<h1>Home</h1>

<a asp-action="SubirFichero" asp-controller="Home">Subir Fichero</a>
<a asp-action="EjemploMail" asp-controller="Home">Enviar Correo</a>
<a asp-action="CifradoHash" asp-controller="Home">Codificador Hash</a>