<h1>Home</h1>

<a asp-action="SubirFichero" asp-controller="Home" class="nav-link">Subir Fichero</a>
<a asp-action="EjemploMail" asp-controller="Home" class="nav-link">Enviar Correo</a>
<a asp-action="CifradoHash" asp-controller="Home" class="nav-link">Codificador Hash</a>
<a asp-action="CifradoHashEficiente" asp-controller="Home" class="nav-link">Codificador Hash Eficiente</a>
<a asp-action="EjemploSession" asp-controller="Home" class="nav-link">Ejemplo Session</a>
<a asp-action="AlmacenarMultipleSession" asp-controller="Home" class="nav-link">Ejemplo multiple session</a>