<h1>Menú Usuarios</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Usuarios" asp-action="Registrar">Registrar usuario</a>

    </li>
    <li class="list-group-item">
        <a asp-controller="Usuarios" asp-action="Credenciales">Validar credenciales</a>
    </li>
</ul>